<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="logo">GameHub</div>
        <ul class="nav-list">            
            <li class="nav-item"><a href="#">Games</a></li>
            <li class="nav-item"><a href="#">MarketPlace</a></li>
            <li class="nav-item"><a href="#">Account</a></li>
        </ul>
    </div>
    <div class="body-1">
        <div class="banner-hub">
            <img src="https://media.cdn.magiceden.dev/games/theheist/banner.jpeg" alt="">
            
        </div>
    </div>
    <div class="body-2">
        <div class="container">
            <div class="banner">
                <!-- Items -->
                <div class="list-item">
                    <div class="ban-item item-active">
                        <img class="g-img" src="https://media.cdn.magiceden.dev/games/synergy_land/banner.png " alt="">
                    </div>
                    <div class="ban-item semi-active">
                        <img class="g-img" src="https://media.cdn.magiceden.dev/games/rogue_nation/banner.png" alt="">
                    </div>
                    <div class="ban-item">
                        <img class="g-img" src="https://media.cdn.magiceden.dev/games/synergy_land/banner.png" alt="">
                    </div>
                    <div class="ban-item">
                        <img class="g-img" src="https://media.cdn.magiceden.dev/games/rogue_nation/banner.png" alt="">
                    </div>
                </div>
                <!-- next prev button-->
                <div class="ban-btn">
                    <button id="prev"><</button>
                    <button id="next">></button>
                </div>
                <!-- dots -->
                <div class="dots">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
            </div>
            <div class="body-game">
                <div class="g-title">Rogue Nation</div>
                <div class="g-content">Rogue Nation is a free-to-play (F2P) mobile-first cross-platform Rogue-lite Action RPG (ARPG). Players create and collect unique characters, pets, weapons, and more to take on difficult dungeons, raids, and other players!</div>
                <button type="button"class="g-btn">Explore Game</button>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>

    <script src="js/home.js"></script>
</body>
</html>