<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <div class="nav">
        <div class="logo">GameHub</div>
        <div th:attr="data-isAuthenticated=${isAuthenticated}"></div>
        <th:block th:if="${isAuthenticated}">
            <ul class="nav-list">
                <li class="nav-item"><a th:href="@{|/home|}">Games</a></li>
                <li class="nav-item"><a th:href="@{|/wallet|}">Wallet</a></li>
                <li class="nav-item"><a th:href="@{|/market/marketplace|}">MarketPlace</a></li>
                <li class="nav-item"><a href="#">Account</a></li>
                <li class="nav-item"><a th:href="@{|/logout|}" onclick="setAuFalse()">Logout</a></li>
                <th:block th:if="${isAdmin}">
                    <li class="nav-item"><a th:href="@{|/admin|}">Admin</a></li>
                </th:block>
            </ul>
        </th:block>

        <th:block th:unless="${isAuthenticated}">
            <ul class="nav-list">
                <li class="nav-item"><a th:href="@{|/login|}">Login</a></li>
            </ul>
        </th:block>
    </div>

    <section  layout:fragment="content">
        <p>Page content goes here</p>
    </section>

    <div class="footer">
        Create by @HoangMDung
    </div>
</body>

</html>